.ingredients {
    background-image: url('../assets/list-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 950px;
    padding: 20px;
  
}

li {
    word-wrap: break-word;
    list-style-type:square;
}
.left {
    margin-left: 35px;
    text-align: left;
    /* padding-top: 50px; */
}

.right {
    /* margin-left: 250px;
    margin-right: 175px; */
    text-align: left;
    /* margin: 0 auto; */
}

.line{
    height: 4px;
    width: 100%;
    /* background-color: blue; */
    border: 10px dotted;
    transform: skew(45deg);
}